/* html {
    overflow-y: scroll;
} */

body {
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
}

a:hover {
    color: #179b77;
}

.container {
    background: rgba(19, 35, 47, .9);
    padding: 20px;
    width: 96vw;
    height: 96vh;
    margin: 2vh auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 5vh;
    margin: 0 0 10px;
    padding: 1vh
}

.text {
    text-align: center;
    color: #fff;
    font-size: 3vh;
    margin: 0 0 10px;
    padding: 1vh
}

img,
canvas {
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: auto;
}

#video {
    width: 90vw;
}

#my_camera {
    width: 320px;
    height: 240px;
    border: 1px solid red;
}