<!DOCTYPE html>
<html>

<head>

    <!-- Load @magenta/image -->
    <script src="https://cdn.jsdelivr.net/npm/@magenta/image@^0.2.1"></script>
    <% include ../partials/header.ejs %>
    <script src="/js/script.js"></script>
</head>

<body>

    <!-- <% include ../partials/nav.ejs %> -->
    <div class="container">
        <h1>PASTICHEMEL</h1>
        <span class='text'>click to take a photo</span>
        <div class='video-wrap'>
            <video id="video"></video>
        </div>
        <div class='errorMsg'></div>
        <canvas id='canvas' width='640' heigth='480'>
        </canvas>

        <canvas id="stylized" height="256"></canvas>
    </div>

</body>

</html>
