<!DOCTYPE html>
<html>

<head>

    <!-- Load @magenta/image -->
    <script src="https://cdn.jsdelivr.net/npm/@magenta/image@^0.2.1"></script>
    <% include ../partials/header.ejs %>
    <script src="/js/script.js"></script>
</head>

<body>

    <h1>STYLISH APP</h1>
    <img id="image">

    <script src="scripts.js"></script>

</body>

</html>
